.status {
  .label {
    width: 140px;
  }
}
.current-user-status {
  .label {
    width: 105px;
    text-align: left;
  }
  .current-user-networks {
    max-height: 400px;
    overflow-y: scroll;
  }
}
.field-wrap {
  word-break: break-all;
}
.status-list {
  margin: 0 auto !important;
}
