.administration {
    .test {
        display: flex;
        justify-content: space-around;
        .input-search {
            // width: 85%;
            flex: 3;
        }
        .button-add-user {
            margin-left: 5px;
        }
    }
   
}