.administration {
    .test {
        display: flex;
        justify-content: space-around;
        .input-search {
            flex: 3;
        }
        .button-add-user {
            margin-left: 5px;
        }
    }
   
}
#gg {
    padding: 0;
    a {
        width: 100%;
        height: 100%;
        vertical-align: center;
        text-align: center;
    }
    color: inherit;
}
.SS {
    border-left: 1px solid rgba(34,36,38,.1);
    padding: .78571429em .78571429em;
}
.aaa {
    width: 50px;
    height: 50px;
    background-color: red;
}