.administration {
    .administration-search {
        display: flex;
        justify-content: space-around;
        .input-search {
            flex: 3;
        }
        .button-add-user {
            margin-left: 5px;
        }
    }
    .user-filter-not-found {
        text-align: center;
    }
    .last-cell {
        display: flex;
        justify-content: space-between;
    }
}

.administration-create .administration-create-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.administration-create-btns-container {
    // display: flex;
    // justify-content: space-around;
}

.mobile-btn-back {
    opacity: 0;
}

.desktop-btn-back {}

@media (max-width: 400px) {
    .mobile-btn-back {
        opacity: 1;
    }
    .desktop-btn-back {
        opacity: 0;
        width: 0px;
    }
    .administration-create-btns-container {
        display: flex;
        justify-content: space-around;
    }
}