.main {
    .main-segment {
        min-height: 400px;
    }
    .side-menu-segment,
    .main-content-segment {
        height: 100%;
    }
}

@media (max-width: 605px) {
    .segment-custom-media {
        padding: 5px !important;
    }
    #custom-padding {
        padding: 10px !important;
    }
}